<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About GAS</h1>

  <p>
  	This Splurty app was built by <a target="_blank" href="https://github.com/vincentchin">Vincent</a>. As someone who has been inflicted with GAS(Gear Acquisition Syndrome), there has never been enough things to be said about my condition. 
  </p>

  <p>
  	Have you been inflicted with GAS? Below are some things that you can use to determine whether you are inflicted with GAS or not.
  </p>
  <br />

 <div class="col-xs-12 col-sm-4">
 	<%= image_tag 'axefxii.jpg', :class => 'img-responsive' %>
 </div>
 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
 	<h2 class="text-center">Fractal Audio AXE FX 2 XL</h2>
 	<br />
 	<p>
 		If you crave this piece of gear, there's a good chance that the disease has already infected your entire body and mind, impairing your ability to make rational financial choices. There is a good chance that you have thought about buying purchasing because your djent guitarist friend said it will help you with the "tonez".
 	</p>
 </div>
 <br class="clear" />

 <div class="col-xs-12 col-sm-4">
 	<%= image_tag 'vader.jpg', :class => 'img-responsive' %>
 </div>
 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
 	<h2 class="text-center">Kiesel Vader (AKA Carvin)</h2>
 	<br />
 	<p>
 		Everyone and their mother wants one of these. Someone from Wired Guitarist probably told you to get one. Even though it feels a little overhyped, you just can't help but stare at it and imagine how it would play in your hands. You may have GAS if you've thought about signing up for the Carvin credit card just to get a discount on this guitar.
 	</p>
 </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />