<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Elohell</h1>

  <p>
  	Elohell is a concept in League of Legends where your ability to carry 4 other idiots on your team is greatly hindered by their toxic playing or behavior. Examples include continuous feeding to the opponent, afking after dying or even worse leaving the game and putting you in the situation of a 4v5.
  </p>


  <h2>What is Solo Queue?</h2>
  
  <p>
  	In League of Legends, solo queue is when you play ranked 5v5 games and are paired with 4 complete strangers within your skill range against 5 other similarly skilled players. 
  </p>
  <br class= "clear"/>
  <br />
 <div class="col-xs-12 col-sm-4">
 	<%= image_tag 'bronze.jpg', :class => 'img-responsive' %>
 </div>
 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
 	<h2 class="text-center">The Terror</h2>
 	<br />
 	<p>
 		Every League of Legends player's nightmare. When someone loses so much that they drop down in rankings and are only paired up with idiots. Bronze puts all the baddies in one place has them play a 40 minute game together. It's the equivalent of watching new players try and figure out how the game works for 40 minutes.
 	</p>
 </div>
 <br class="clear" />
 <br />

 <div class="col-xs-12 col-sm-4">
 	<%= image_tag 'gold.jpg', :class => 'img-responsive' %>
 </div>
 <div class="col-xs-12 col-sm-7 col-sm-offset-1">
 	<h2 class="text-center">Ideal Ranking</h2>
 	<br />
 	<p>
 		Everyone wants to see this at least once on their screen. The truth about Elohell is that it can exist in Silver, Gold, Platinum or even Diamond. 
 	</p>
 </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />